@font-face {
	font-family: "Iransans";
	src: url("../font/IRANSansWeb.ttf") format("ttf");
	src: url("../font/IRANSansWeb.eot") format("eot");
	src: url("../font/IRANSansWeb.woff") format("woff");
	src: url("../font/IRANSansWeb.woff2") format("woff2");
}

/*modified classes*/
.btn-rounded-sm {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: flex;
}

.center-icon {
	transform: translateX(3px);
}

.w-150 {
	width: 150px;
}

.active {
	border-bottom: 3px solid green;
}

.active::after {
	line-height: 60px;
}

.z-index-2 {
	z-index: 2;
}

.margin-t75 {
	margin-top: 75px;
}

.no-padding {
	padding: 0;
}

.bg-f7 {
	background-color: #f7f7f7;
}
/*modified classes*/

body {
	font-family: "Iransans";
}

.navbar {
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: white;
	top: 0;
}

nav .navbar-collapse {
	flex-grow: 0.7;
}

nav .header-icons {
	width: 1.5em;
	cursor: pointer;
}

nav .menu .nav-item .nav-link {
	color: #63392a;
	font-size: 20px;
}

nav .nav-utilities li svg {
	font-size: 25px;
}

.navbar-nav .active > .nav-link {
	color: #442013 !important;
}

@media only screen and (max-width: 991px) {
	.navbar-collapse {
		flex-direction: column;
		border: 1px solid #442013;
	}
}
/*Navbar*/
/*Slider*/
.slider {
	margin-top: 70px;
}

.carousel-item {
	height: 650px;
}

.carousel-item img {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	min-height: 650px;
}

.carousel-item .carousel-caption {
	flex-direction: column;
	justify-content: center;
	right: 10%;
	bottom: 200px;
	z-index: 1;
}

.carousel-item .carousel-caption h5 {
	font-size: 3.25rem;
	width: 530px;
	color: #494949;
}

.carousel-item .carousel-caption p {
	font-size: 2rem;
	width: 355px;
	text-align: right;
	color: #494949;
}

.carousel-item .carousel-caption .btn-outline-secondary {
	width: 150px;
	border-radius: 30px;
	color: #63392a;
	border-color: #63392a;
}

.carousel-item .carousel-caption .btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.open > .dropdown-toggle.btn-outline-secondary {
	color: #fff;
	background-color: #63392a;
}

.carousel-indicators {
	z-index: 1;
}

.carousel-indicators li {
	background-color: #63392a;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	z-index: 1;
}
/*Slider*/
/*rows*/
.middle-data .btn-outline-secondary {
	color: #fff;
	border-radius: 30px;
	background-color: #63392a;
}

.middle-data .btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.open > .dropdown-toggle.btn-outline-secondary {
	color: #63392a;
	background-color: white;
	border-color: #63392a;
}

.middle-data p,
h2 {
	width: 292px;
}

.middle-data .row .col-md-6 .modified-width {
	width: 292px;
}

.col-md-6 img {
	margin-bottom: 40px;
}

main .section-image {
	position: absolute;
	width: 150px;
}

main {
	position: relative;
}

main .img-1 {
	left: 0;
	bottom: 190px;
}

main .img-2 {
	right: 0;
	bottom: -90px;
}
/*rows*/
/*Special Goods*/
.card {
	box-sizing: border-box;
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
	max-height: 400px;
	z-index: 2;
}

.card > .card-inner {
	padding: 10px;
}

.card .header h2,
h3 {
	margin-bottom: 0px;
	margin-top: 0px;
}

.card .header {
	margin-bottom: 5px;
}

.card .image {
	width: 100%;
	height: 250px;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/*Special Goods*/
/*Footer*/
footer {
	background-color: #424242;
	position: relative;
	z-index: 99;
}

footer .h5,
.h6 {
	color: white;
}

footer h2 {
	width: auto;
}

footer .form-row input[type="email"] {
	border-radius: 30px;
	width: 90%;
}

::-webkit-input-placeholder {
	text-align: right;
}

:-moz-placeholder {
	text-align: right;
}

footer .btn-outline-light {
	color: black;
	border-radius: 30px;
	background-color: white;
	width: 110px;
}

footer .btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-outline-light.active,
.open > .dropdown-toggle.btn-outline-light {
	color: white;
	background-color: transparent;
	border-color: white;
}

footer .row img {
	width: 140px;
}

.footer-gutter {
	height: 50px;
	background-color: white;
}

.footer-gutter p {
	color: black;
	margin-bottom: 0;
}

.footer-gutter p span {
	color: rgb(12, 211, 12);
}
/*Footer*/
/*---------------------------------------- product page -----------------------------------*/
/*modified classes*/
.products-container .row {
	margin-left: unset;
	margin-right: unset;
}
/*modified classes*/
/*product sidebar*/
.sidebar {
	position: fixed;
	top: 27px;
	bottom: 0;
	z-index: 99;
	padding: 48px 0 0;
	background-color: white;
}
/*product sidebar*/
/*product page*/
.products-container {
	padding-right: 0;
	padding-left: 0;
}

.close-side {
	left: 10px;
}

.fullheight-row {
	height: 100vh;
	background-color: #f7f7f7;
}
/*product page*/
